@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container col-12 d-flex">
    @foreach (var item in Model.Produse)
    {
        <div class="card" style="width: 18rem;margin-right:10px">
            <p><img id="output" width="100%" src="/images/@item.ImageName" /></p>
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.Nume)
                </h5>
                <div class="card-text">
                    <p> @Html.DisplayFor(modelItem => item.Descriere)</p>
                    <p> @Html.DisplayFor(modelItem => item.Brand.Nume)</p>
                    <p> @Html.DisplayFor(modelItem => item.Pret)</p>
                    @{
                        string categorii = string.Join(", ", item.CategorieProdus.Select(x => x.Categorie.Nume));
                    }
                    <p> @categorii</p>
                </div>
                @if (User.Identity?.IsAuthenticated??false)
                {
                    <button name="addToCart" data-prod-id="@item.Id" class="btn btn-primary">Add To Cart</button>
                }
            </div>

        </div>

    }
</div>


<script>

    var elem = document.getElementsByName("addToCart");

    for (var i = 0; i < elem.length; i++) {
        elem[i].addEventListener('click', (event) => {
            addToCart(event.target.dataset.prodId)
        });
    }

    function addToCart(prodId) {
        $.post(`/addToCart?prodId=${prodId}`, {}, function (res) {
            alert(`Produse in cos ${res}`)
        });
    }
</script>
